.count-container {
  margin: 0 auto;
  text-align: center;
  margin-top: 2rem;
 
  width: 200px;
  height: 180px;
}

.count {
  font-size: 65px;
}

.add-cart{
  font-size: 20px;
}

.actual-Count{
  font-size: 45px;
}

