.cardContainer {
  background-color: #fafafa !important;
  margin: 0 auto !important;

  margin-top: 25px !important;

  padding: 1rem !important;
  border: 2px solid #ccc !important;
  /* IMPORTANTE */
  text-align: center !important;
 background-color: rgb(190, 243, 243) !important;
}
